@use '../Styles/variables';

.dropdown-wrapper {position: relative;}

.dropdown-menu {
  position: absolute;
  top: 0px;
  left: 100px;
  width: 300px;
  background: $white;
  z-index: 9999;
  padding: 10px 0;
  border: 1px solid #ddd;
  border-radius: 5px;

}

.dropdown-menu li a {
  color: $black;
  cursor: pointer;
}



.dropdown-menu li a:hover {
  color: rgb(170, 255, 0);
}

.item {
  display: flex;
  align-items: center;
  padding:0.5rem 0.75rem;
  justify-content: space-between;
  color:$black;
}

.submenu {
  position: absolute;
  top:0;
  left: 400px;   
  width: 200px;
  background:$white;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 6px 6px 0;
  padding:0.625rem;
  z-index: 9999;
  
}

.submenu li {padding:0.313rem 0;}

.submenu li a {color:$black;}

