:root {
  --first-color:#ffcc00;
  --second-color: #ff0000;
  --third-color: #ffffff;
  --fourth-color:#004d26;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ===== PROMO BAR ===== */
.promo__bar {
  background: var(--first-color);
  color: var(--second-color);
  height: 32px;
  overflow: hidden;
  display: flex;
  align-items: center;
  white-space: nowrap;
  border-top: 1px solid #ffffff;
  border-bottom: solid 1px #ffffff;
}

.promo__track {
  display: inline-block;
  white-space: nowrap;
  animation: ticker 20s linear infinite;
}

.promo__track span {
  display: inline-block;
  margin-right: 4rem;
  font-weight: 700;
  font-size: 0.9rem;
}

@keyframes ticker {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
/* ===== NAVBAR ===== */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--fourth-color);
  color: var(--third-color);
  flex-wrap: wrap;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
}

.navbar .row {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.row {
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 1rem;
}

.nav__down {
  background: #ff0000;
  border-top: 1px solid var(--third-color);
}
.nav__down .main__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav__down .main__nav li {
  list-style: none;
}
.nav__down .main__nav li a {
  text-decoration: none;
  color: var(--third-color);
}

/* ===== LOGO ===== */
.logo {
  height: 80px;
  display: flex;
  align-items: center;
  margin: 0 1rem;
}

.logo img {
  max-height: 120px;
  width: auto;
  object-fit: contain;
}

/* ===== SEARCH BOX ===== */
.search__box {
  position: relative;
  width: 100px;
  margin: 0 2rem;
  flex-grow: 1;
}

.search__box input {
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  border-radius: 100px;
}

.search__box .icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--fourth-color);
  cursor: pointer;
  font-size: 1.3rem;
}

/* ===== ACTIONS ===== */
.actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.actions .store {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.actions .icon {
  margin-right: 0.5rem;
  font-size: 1.4rem;
}

.actions .actions__address {
  font-size: 14px;
  font-weight: 600;
}

.actions .actions__address2 {
  font-size: 0.8rem;
  font-weight: 300;
}

.cart .icon {
  font-size: 1.6rem;
  cursor: pointer;
  margin-left: 2rem;
}

/* ===== HAMBURGER ===== */
.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

.category-bar {
  background: red;
}

@media (max-width: 768px) {
  .navbar .row {
    padding: 0;
  }
  .navbar {
    justify-content: space-between;
    padding: 10px;
  }
  .hamburger {
    display: block;
  }
  .logo {
    flex: 1;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center; /* centers logo horizontally */
    align-items: center; /* centers logo vertically */
  }
  .logo img {
    margin: 0 auto; /* make sure it stays centered */
    max-height: 70px;
  }
  .cart {
    margin-left: auto;
  }
  .cart .icon {
    margin-left: 0rem;
  }
  .search__box {
    width: 100%;
    margin-top: 10px;
    order: 3; /* goes below navbar items */
  }
  .actions {
    display: none; /* hide store + login on mobile */
  }
}

/*# sourceMappingURL=Navbar.css.map */
