 @use '../../Styles/variables' as *;

 .shopping-cart {
  width: min(100%, 68.75rem); /* 1100px */
  margin: 2.5rem auto;
  padding: 1.5rem;
  background: $white;
  border-radius: .75rem;
}

.shopping-cart__title {
  font-size: clamp(1.8rem, 3vw, 2rem);
  margin-bottom: 2rem;
}

.shopping-cart__empty {
  text-align: center;
  padding: 3rem;
  color: #777;
}

.shopping-cart__item {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  border: 1px solid #ececec;
  border-radius: .625rem;

  padding: 1.25rem;
  margin-bottom: 1.25rem;
}

.shopping-cart__image {
  width: clamp(5rem, 10vw, 7.5rem);
  aspect-ratio: 1;
  object-fit: contain;
  flex-shrink: 0;
}

.shopping-cart__info {
  flex: 1;
  min-width: 0;
}

.shopping-cart__info h3 {
  margin-bottom: .75rem;
  font-size: clamp(1rem, 2vw, 1.125rem);
}

.shopping-cart__price {
  font-size: clamp(1.1rem, 2vw, 1.375rem);
  color: $primary;
  font-weight: 700;
}

.shopping-cart__quantity {
  display: flex;
  align-items: center;
  gap: .75rem;
}

.shopping-cart__quantity button {
  width: 2.5rem;
  aspect-ratio: 1;

  border: none;
  border-radius: .5rem;

  background:$primary;
  color: $white;

  font-size: 1.3rem;
  cursor: pointer;
}

.shopping-cart__quantity span {
  min-width: 2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
}

.shopping-cart__subtotal {
  min-width: 7rem;
  text-align: right;
  font-size: clamp(1.1rem, 2vw, 1.375rem);
  font-weight: 700;
}

.shopping-cart__remove {
  border: none;
  border-radius: .5rem;

  background: crimson;
  color: $white;

  padding: .75rem 1rem;
  cursor: pointer;
}

.shopping-cart__footer {
  margin-top: 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  border-top: 2px solid #eee;
  padding-top: 2rem;
}

.shopping-cart__finish {
  border: none;
  border-radius: .5rem;

  background:$primary;
  color: $white;

  padding: 1rem 2rem;

  font-size: 1rem;
  cursor: pointer;
}

.shopping-cart__finish:hover,
.shopping-cart__quantity button:hover {
  opacity: .9;
}

.shopping-cart__remove:hover {
  background: #a40028;
}

/* Tablet */

@media (max-width: 768px) {
  .shopping-cart {
    padding: 1rem;
  }

  .shopping-cart__item {
    flex-wrap: wrap;
    gap: 1rem;
  }

  .shopping-cart__subtotal {
    text-align: left;
    min-width: auto;
  }

  .shopping-cart__footer {
    flex-direction: column;
    gap: 1.5rem;
    align-items: stretch;
  }

  .shopping-cart__finish {
    width: 100%;
  }
}

/* Celular */

@media (max-width: 480px) {
  .shopping-cart__item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .shopping-cart__info {
    width: 100%;
  }

  .shopping-cart__quantity {
    justify-content: center;
  }

  .shopping-cart__subtotal {
    text-align: center;
  }

  .shopping-cart__remove,
  .shopping-cart__finish {
    width: 100%;
  }
}