

.DepartmentMobile{
    display: none;
    h3{
        background: yellow;
        text-align: center;
    }

    ul{

       
        flex-direction: column;
    }

    ul li{
        background: red;
        margin: 0.6rem;
        
    }

    ul li a{
        
        color: white;
    }



}
/*
@media(max-width:70rem){
    
.DepartmentMobile{
    display:block;
    h3{
        background: yellow;
        text-align: center;
    }

    ul{

       
        flex-direction: column;
    }

    ul li{
        background: red;
        margin: 0.6rem;
        
    }

    ul li a{
        
        color: white;
    }



}
}
*/