

.DepartmentMobile{
    h3{
        background: yellow;
        text-align: center;
    }

    ul{

       
        flex-direction: column;
    }

    ul li{
        background: red;
        margin: 0.6rem;
        
    }

    ul li a{
        
        color: white;
    }



}