.delivery {
  position:absolute;
  top:100%;
  right: 40px;
  background:#fff;
  color: black;
  width:370px;
  padding:2rem;
  border-radius: 12px;
  box-shadow: 1px 4px 10px rgba(0,0,0,0.1);
  z-index:2000;
  animation: fadeIn 0.3s ease;

  .delivery__container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .delivery__title {
      font-size:1rem;
      color: #333;
      margin-bottom:0.8rem;
    }

    .delivery__options {
      display: flex;
      background: #fff;
      border: 1px solid #ee7104;
      border-radius: 50px;
      overflow: hidden;
      max-width: 300px;
    }

    .delivery__option {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 6px 0px;
      background: none;
      border: none;
      font-size: 0.7rem;
      cursor: pointer;
      color: #ee7104;
      font-weight: 600;
      transition: all 0.3s ease;
      border-radius: 0;
    }

    .delivery__option.active {
      background-color: #ee7104;
      color: white;
      border-radius: 300px;
    }

    .pickup__icon {
      font-size: 1rem;
    }
  }

  /* CEP e Lojas */
  .delivery__home, .store__list {
    background: #fff;
    border-radius: 10px;
    padding:0;
    color: #333;
  }

  .delivery__home h3 {
    margin:2rem 0;
    font-size: .8rem;
  }

  .delivery__home button {
    color: #ee7104;
    font-weight: 600;
    text-decoration:underline;
    font-size: 0.85rem;
    display: block;
    width: fit-content;
    margin: 0 auto;
    border: 0;
    background: none;
    cursor: pointer;
  }

  .store__conteiner h4 {
    margin-top: 2rem ;
  }

  /* --- LISTA DE LOJAS --- */
  .store__list {
    margin-top: 1rem;

    .store__item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 12px;
      border-radius: 10px;
      cursor: pointer;
      transition: background .2s ease, border .2s ease;
      border: 1px solid transparent;

      &:hover {
        background: #f5f5f5;
      }

      &.selected {
        background: #e8e8e8;
        border: 1px solid #ccc;
      }

      .store-icon {
        color: #ee7104;
        font-size: 1rem;
        margin-top: 3px;
      }

      .check-icon {
        color: #ee7104;
        font-size: 1rem;
      }

      .store-info {
        margin-left: 0.8rem;

        strong {
          font-size: .85rem;
          font-weight: 600;
          color: #222;
        }

        p {
          font-size: .75rem;
          color: #555;
          margin-top: 2px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

@media(max-width:760px){
  .delivery {
    right:0;
    width:100%;
  }
}
