


.delivery {
 position:absolute;
  top:100%;      
  right: 40px;
  background:#fff;
  color: black;
  width: 420px;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  z-index:2000; 
  animation: fadeIn 0.3s ease;
  .delivery__container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    .delivery__title {
      font-size: 1rem;
      color: #333;
      font-weight: bold;
    }

    .delivery__options {
      display: flex;
      background: #fff;
      border: 1px solid #ee7104;
      border-radius: 50px;
      overflow: hidden;
      max-width: 400px;
    }

    .delivery__option {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      padding: 10px 0px;
      background: none;
      border: none;
      font-size: 0.7rem;
      cursor: pointer;
      color: #ee7104;
      font-weight: 600;
      transition: all 0.3s ease;
      border-radius: 0;
    }

    .delivery__option.active {
      background-color: #ee7104;
      color: white;
      border-radius: 300px;
    }

    .pickup__icon {
      font-size: 1rem;
    }
  }

  /* CEP e Lojas */
  .delivery__home, .store__list {
    background: #fff;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #333;
  }

  .delivery__home p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
  }

  .delivery__home a {
    color: #ee7104;
    font-weight: 600;
    text-decoration: none;
    font-size: 0.85rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .store__list h3 {
    font-size: 0.9rem;
    margin-bottom: 0.8rem;
    color: #222;
  }

  .store__list ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      gap: 8px;
      margin-bottom: 0.5rem;
      font-size: 0.85rem;
      color: #444;

      i {
        color: #ee7104;
      }
    }
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}
