/* =============== MOBILE MENU =============== */
@use '../Styles/variables' as *;
.mobile__header {
  position: relative;
  z-index: 1000;
}

/* Menu principal */
.mobile__menu {
  position: fixed;
  top: 0;
  left: -100%; /* começa fora da tela */
  width: 100%;
  height: 100vh;
  background-color: $text-dark-bg; /* verde escuro do Trevo */
  color: $white;
  transition: left 0.3s ease;
  overflow-y: auto;
  padding: 20px;
  z-index: 999;
}

.mobile__menu.open {
  left: 0; /* aparece ao abrir */
}

/* Cabeçalho */
.mobile__menu-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close__icon {
  font-size: 1.8rem;
  cursor: pointer;
  color: $white;
}

.mobile_user{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.mobile__user h3 {
  font-size: 1.1rem;
  font-weight: 600;
}

.mobile__user span {
  color:$primary;
}

.mobile__user p {
  font-size: 0.85rem;
  margin-top: 4px;
}

/* Logo */
.mobile__logo {
  text-align: center;
  margin: 20px 0;
}

.mobile__logo img {
  width: 140px;
}

/* Busca */
.mobile__search {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mobile__search input {
  width: 90%;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
}

/* Navegação */
.mobile__nav {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile__nav li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 0;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}



.mobile__nav li .icon {
  font-size: 1.2rem;
  color:$primary;
}

.mobile__nav li a {
  color: $white;
  text-decoration: none;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* Divisor */
.mobile__divider {
  height: 1px;
  background-color: rgba(255,255,255,0.2);
  margin: 0.938rem 0;
}

/* Ações extras */
.mobile__actions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mobile__item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.mobile__item .icon {
  color:$primary;
  font-size: 1.2rem;
}

/* ===== Overlay (fundo escuro) ===== */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  z-index: 998;
}

.mobile__button{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background: transparent;
}

.mobile__button button{
  padding: 0.875rem;
  border-radius: 5px;
  margin: 0.625rem 0;
   background: transparent;
   border: 1px solid $primary;
   color: $white;
}

.mobile__button button:nth-child(2){
  background:$primary;
  
}

/* Texto interno do item (estilo Mix) */
.mobile__nav li .text {
  display: flex;
  flex-direction: column;
  margin:0 1rem;
}

.mobile__nav li .text span {
  font-size: 1rem;
  font-weight: 600;
  color: $white; /* título branco */
  text-transform: capitalize;
}

.mobile__nav li .text p {
  font-size: 0.85rem;
  color:$border-light; /* descrição cinza clara */
  margin-top:0.188rem;
  text-transform: lowercase;
}
