.imgs{
    display: flex;
    justify-content:center;


    img{
        width: 300px;
    }
}

@media(max-width:700px){
    .imgs{
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;


    img{
        width: 300px;
    }
}
}